<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Admin Home Page</title>
    <link rel= "stylesheet" href="static/style.css" >
</head>
<body>
<div class = "container">
<h1 class = "heading"> Admins <h1>
    {{data}}
<div class = "box-container">
<div class ="box">
<a href="{{url_for('addAdminFunc')}}"> Add Admins </a>
</div>

<div class ="box">

<a href="{{url_for('manageProducts')}}"> Manage Products </a>
</div>

<div class ="box">

<a href="sigup.html"> Manage Tickets </a>
</div>

<div class ="box">

<a href="{{url_for('manageCustomers')}}"> Manage Customers </a>
</div>

    <div class ="box">
<a href="{{url_for('manageCategories')}}"> Manage Categories </a>
</div>
</div>
</body>
</html>