/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .products_div img{
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-top: 50px;
  }
  .products_div{
    margin-left: 250px;
  }
  /* .sidenav {
    margin-top: 55px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-y: scroll;
  } */

  .sidenav {
    height: 80%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 37px;
    overflow-y: auto;
  }
  
  .filterBy{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  .checked {
    color: orange;
  }

  .button{
    background-color: #60779c;
    color: white;
  }
  
  .rightbuttons{
    display: flex;
    flex-direction: row-reverse;
  }